.nav {
  background-color: orange; }
  .nav ul li {
    list-style: none; }
  .nav a {
    text-decoration: none;
    font-size: 20px;
    color: royalblue; }
    .nav a:hover {
      color: gray; }

.heading, .banner h1, .footer h3 {
  color: orange;
  font-size: 40px;
  background-color: gray;
  text-align: center; }

.banner h1:hover {
  background-color: orange;
  color: gray; }
