.nav {
  background-color: #ffc966; }
  .nav ul li {
    list-style: none; }
  .nav a {
    text-decoration: none;
    font-size: 20px;
    color: #4d4d00; }
    .nav a:hover {
      color: gray; }

h1, .footer h3 {
  color: rgba(255, 165, 0, 0.7);
  font-size: 40px;
  background-color: #676767;
  text-align: center; }

h1:hover, .footer h3:hover {
  background-color: green; }
