$color-primary: orange;
$color-secondary: gray;
$color-tertiary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
  background-color: $color-primary;
  ul li {
    list-style: none;
  }
  a {
    text-decoration: none;
    font-size: $font-sm;
    color: $color-tertiary;

    &:hover {
      color: $color-secondary;
    }
  }
}

@mixin headStyles($fontSize) {
  font-size: $fontSize;
  color: $color-secondary;
  text-align: center;
}

@mixin transition($param...){
  transition: $param;
}

.banner h1 {
  @include headStyles($font-lg);
  // $color-secondary: red;  // !global = try to avoid this Day, pls!
}

.footer h3 {
  @include headStyles($font-md);
  @include transition(color .5s, background-color 1s);

  &:hover {
    color: $color-tertiary;
    background-color: $color-primary;
  }
}