@import "test";

$color-primary: orange;
$color-secondary: gray;
$color-tertiary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
  background-color: lighten($color-primary, 20%);
  ul li {
    list-style: none;
  }
  a {
    text-decoration: none;
    font-size: $font-sm;
    color: mix(black, yellow, 70%);

    &:hover {
      color: $color-secondary;
    }
  }
}

%heading {
  color: transparentize($color-primary, .3);
  font-size: $font-lg;
  background-color: darken($color-secondary, 10%);
  text-align: center;
}

h1 {
  // $color-secondary: red;  // !global = try to avoid this Day, pls!
  @extend %heading;

  &:hover {
    background-color: green;
  }
}

.footer h3 {
  @extend h1;
}